<!DOCTYPE html>
<html lang="zh" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS学习</title>
    <script src="js/angular.min.js"></script>
</head>
<body>
<div ng-controller="myCtrl">
    <button ng-click="getPrivate()">按钮一</button>
    <button ng-click="getPUbluc()">按钮二</button>
</div>
<div ng-controller = "myCtrl2">
</div>
</body>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, myFactory) {
        $scope.getPrivate = function() {
            alert(myFactory.getPrivate());
        };
        $scope.getPUbluc = function() {
            alert(myFactory.variable);
        };
    });
    app.controller('myCtrl2', function($scope, myFactory) {
    });
    app.factory('myFactory', function() {
        console.log('instance myFactory');
        var factory = {};
        var privateValue = "I am Private";
        factory.variable = "This is public";
        factory.getPrivate = function() {
            return privateValue;
        };
        return factory;
    });
</script>
</html>
